<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
	<div style="background:darkseagreen" th:fragment="header">
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<LINK rel="SHORTCUT ICON" href="image/favicon.ico"/>
		<!-- BootstrapのCSS読み込み -->
		<link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap-datepicker.min.css" th:href="@{/css/bootstrap-datepicker.min.css}"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap-timepicker.min.css" th:href="@{/css/bootstrap-timepicker.min.css}"/>
		<!-- jQuery読み込み -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- BootstrapのJS読み込み -->
		<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" src="../../static/js/bootstrap-datepicker.min.js" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
		<script type="text/javascript" src="../../static/js/bootstrap-datepicker.ja.min.js" th:src="@{/js/bootstrap-datepicker.ja.min.js}"></script>
		<script type="text/javascript" src="../../static/js/bootstrap-timepicker.min.js" th:src="@{/js/bootstrap-timepicker.min.js}"></script>
		<script type="text/javascript" src="../../static/js/common.js" th:src="@{/js/common.js}"></script>
	</div>
  </head>
  <body>

	<div class="col-sm-12" th:fragment="menu">
		<div class="row">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle"
						data-toggle="collapse" data-target="#navbar-menu">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/workTimeList/">稼働一覧</a>
					</div>
					<div class="collapse navbar-collapse" id="navbar-menu">
						<ul class="nav navbar-nav">
							<li><a href="/userManage/">ユーザー一覧</a></li>
						</ul>
						<div sec:authorize="hasAnyRole('ROLE_A01','ROLE_A02','ROLE_A03')">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									管理機能<span class="caret"></span>
								</a>
								<!-- 1.メニューの配置 -->
								<ul class="dropdown-menu">
									<li><a href="/admin/horidayManage/">休日管理</a></li>
									<li><a href="/admin/projectManage/">プロジェクト管理</a></li>
								</ul>
							<li>
						</ul>
						</div>
						<!-- 
						 -->
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<span sec:authentication="principal.username"></span><span class="caret"></span>
									</a>
								<!-- 1.メニューの配置 -->
								<ul class="dropdown-menu">
									<li><a href="/passwordChange/">パスワード変更</a></li>
									<li class="divider"></li>
									<li><a th:href="@{/logout}">ログアウト</a></li>
								</ul>
							<li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</nav>
			<br/><br/><br/>
		</div>
	</div>
  </body>
</html>
