<!DOCTYPE html>
<html>
	<head>
		<meta charset=" utf-8" />
		<title>パスワード変更</title>
		<div th:replace="common/common::header"></div>
	</head>
	<body onload="document.form.password.focus();">
		<div sec:authorize="isAuthenticated()">
			<div th:replace="common/common::menu"></div>
		</div>
		<div class="container">
			<h1>パスワード変更</h1>
		</div>
		<div class="container">
			<strong class="text-danger" th:text="${result}"></strong>
		</div>
		<div class="container">
			<form class="form-signin" action="" th:action="@{/passwordChange/handle}" method="post" th:object="${changePassowrdForm}" name="form">
				<div class="form-group">
					<div class="col-sm-4">
						<input type="text" class="form-control" readonly="readonly" placeholder="ユーザー" th:value="*{userId}" th:field="*{userId}" />
						<span th:if="${#fields.hasErrors('userId')}" class="text-danger" th:errors="*{userId}">Error</span>
						<input type="password" class="form-control" placeholder="パスワード" th:field="*{password}" />
						<span th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}">Error</span>
						<input type="password" class="form-control" placeholder="新しいパスワード" th:field="*{newPassword}" />
						<span th:if="${#fields.hasErrors('newPassword')}" class="text-danger" th:errors="*{newPassword}">Error</span>
						<span th:if="${#fields.hasErrors('notSameOldAndNew')}" class="text-danger" th:errors="*{notSameOldAndNew}">Error</span>
						<input type="password" class="form-control" placeholder="確認用パスワード" th:field="*{confirmPassword}" />
						<span th:if="${#fields.hasErrors('confirmPassword')}" class="text-danger" th:errors="*{confirmPassword}">Error</span>
						<span th:if="${#fields.hasErrors('sameWordNewAndConfirm')}" class="text-danger" th:errors="*{sameWordNewAndConfirm}">Error</span>
						<input type="hidden" th:name="version" th:value="*{version}"></input>
						<input type="hidden" th:name="token" th:value="${token}"></input>
						<button class="btn btn-lg btn btn-warning" type="submit">変更</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>
