<!DOCTYPE html>
<html>
<!--
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
 -->
	<head>
<!--
		<meta charset="UTF-8" />
 -->
		<title>勤務報告</title>
		<div th:replace="common/common::header"></div>
	</head>
	<body>
		<div th:replace="common/common::menu"></div>
		<div class="container">
			<strong class="text-danger" th:text="${result}"></strong>
		</div>
		<div class="container">
			<h1>稼働</h1>
			<div class="container-fluid">
				<div class="col-sm-12" style="background-color:orange;">
					<div class="col-sm-2">
						<input type="text" class="form-control monthpicker selectMonth" th:field="${currentMonth.month}"></input>
					</div>
					<div class="col-sm-3 pull-right">
					<form th:action="@{/workTime/download/{month}(month=${currentMonth.month})}" method="get">
						<button type="submit">ダウンロード</button>
					</form>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>日付</th>
						<th>勤務帯</th>
						<th>出勤コード</th>
						<th>出社時刻</th>
						<th>退社時刻</th>
						<th>始業コード</th>
						<th>終業コード</th>
						<th>代休出日</th>
						<th>備考</th>
					</tr>
				</thead>
				<tbody th:remove="all-but-first" th:each="workTime : ${workTimes}">
					<tr>
						<td class="col-sm-1">
							<a type="button" th:href="@{/workTime/{workDate}/input(workDate=${workTime.workDate})}">更新</a>
						</td>
						<td th:if="${workTime.horidayType == T(jp.co.orangearch.workmanage.domain.constant.HoridayType).BISUNESS_DAY}" class="col-sm-1" th:text="${workTime.workDate}">2017-01-01</td>
						<td th:if="${workTime.horidayType == T(jp.co.orangearch.workmanage.domain.constant.HoridayType).SATURDAY}" class="col-sm-1 bg-info" th:text="${workTime.workDate}">2017-01-01</td>
						<td th:if="${workTime.horidayType == T(jp.co.orangearch.workmanage.domain.constant.HoridayType).HORIDAY}" class="col-sm-1 bg-danger" th:text="${workTime.workDate}">2017-01-01</td>
						<td class="col-sm-1" th:text="${workTime.workTimeType}">1</td>
						<td class="col-sm-1" th:text="${workTime.attendanceCode}">1</td>
						<td class="col-sm-1" th:text="${workTime.startTime}">1</td>
						<td class="col-sm-1" th:text="${workTime.endTime}">1</td>
						<td class="col-sm-1" th:text="${workTime.startWorkCode}">1</td>
						<td class="col-sm-1" th:text="${workTime.endWorkCode}">1</td>
						<td class="col-sm-1" th:text="${workTime.compensatoryAttendanceDate}">1</td>
						<td class="col-sm-3" th:text="${workTime.notes}">1</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		
		
		<div class="container">
			<h3>交通費</h3>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>日付</th>
						<th>手段</th>
						<th>片/往</th>
						<th>乗車</th>
						<th>下車</th>
						<th>金額</th>
						<th>訪問先</th>
						<th>理由</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="transportInfo : ${transportInfos}">
						<td class="col-sm-1">
							<a type="button" th:href="@{/workTime/{workDate}/input(workDate=${transportInfo.workDate})}">更新</a>
						</td>
						<td class="col-sm-1" th:text="${transportInfo.workDate}">2017-01-01</td>
						<td class="col-sm-1" th:text="${transportInfo.TranseportType}">1</td>
						<td class="col-sm-1" th:text="${transportInfo.oneWayRoundType}">1</td>
						<td class="col-sm-1" th:text="${transportInfo.rideFrom}">1</td>
						<td class="col-sm-1" th:text="${transportInfo.rideTo}">1</td>
						<td class="col-sm-1" th:text="${transportInfo.expense}">1</td>
						<td class="col-sm-2" th:text="${transportInfo.destination}">1</td>
						<td class="col-sm-3" th:text="${transportInfo.reason}">1</td>
					</tr>
					<tr>
						<td class="col-sm-1">
							<a type="button" th:href="@{/workTime/input/}">登録</a>
						</td>
						<td class="col-sm-1" ></td>
						<td class="col-sm-1" ></td>
						<td class="col-sm-1" ></td>
						<td class="col-sm-1" ></td>
						<td class="col-sm-1" ></td>
						<td class="col-sm-1" ></td>
						<td class="col-sm-2" ></td>
						<td class="col-sm-3" ></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
